.app-container{
  width: 100%;
  text-align: center;
}

.app-title{
  color: #1c1e21;
  margin-bottom: 30px;
}

.profiles-containers{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.dark-theme{
  background-color: #1c1e21;
  color: #ffffff;
  border-color: #ffffff;
}

.light-theme{
  background-color: #f0F2f5;
}